 <extend name="Public/base"/>
<block name="body">
    <div class="pd-20">
        <div class="text-c" id="search">日期范围：
            <input type="text" onfocus="selecttime(1)"  id="start_time" name='start_time' value="{$list.get.start_time}" class="input-text Wdate search" style="width:120px;">
            -
            <input type="text" onfocus="selecttime(2)" id="end_time" name ='end_time' value="{$list.get.end_time}" class="input-text Wdate search" style="width:120px;">
            -
            <input id="now_time" type="button" class="btn btn-success radius" value="当日">
            -
            <input id="seven_time" type="button" class="btn btn-success radius" value="近七天">
            -
            <input id="month_time" type="button" class="btn btn-success radius" value="近一月">
            -
            <input type="text" name="key" id="key" value="{$list.get.key}" placeholder="- 订单 -" style="width:250px" class="input-text search">
            <!-- <input type="hidden" class="search" name="tourist_id" value="{$list.get.tourist_id}">-->
            <label class="form-label col-1">导游类型：</label>
            <div class="formControls col-1">
                    <span class="select-box">
                        <select class="select search" size='1' name="guide_type">
                            <option value="" selected>--请选择--</option>
                            <option value="1" <eq name="list.get.guide_type" value="1">selected</eq>>讲解员</option>
                            <option value="2" <eq name="list.get.guide_type" value="2">selected</eq>>领路人</option>
                        </select>
                    </span>
            </div>
            <button name="search" class="btn btn-success" url="{:U('')}" type="button"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="del('{:U(\'del_coupon\')}')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            </span>
            <span class="r">共有数据：<strong>{:count($list['list'])}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-hover table-bg table-striped">
                <thead>
                <tr class="text-c">
                    <!--<th width="15"><input type="checkbox" name="" value=""></th>-->
                    <th width="50">订单号</th>
                    <th width="30">服务类型</th>
                    <th width="50">服务费</th>
                    <th width="40">小费</th>
                    <th width="35">平台管理费</th>
                    <th width="25">实际净收</th>
                    <th width="40">余额</th>
                    <th width="20">时间</th>
                </tr>
                </thead>
                <tbody>
                <volist name="list.list" id="vo">
                    <tr class="text-c">
                        <!--<td><input type="checkbox" value="{$vo.uid}" name="checked"></td>-->
                        <td>{$vo.order_number}</td>
                        <td>
                            <if condition="$vo.guide_type eq '1'">讲解员
                                <elseif condition="$vo.guide_type eq '2'"/>领路人
                                <else />导游
                            </if>
                        </td>
                        <td>-{$vo.withdraw_amount}</td>
                        <td>- -</td>
                        <td>- -</td>
                        <td>- -</td>
                        <td>{$vo.now_total_amount}</td>
                        <td>
                            {$vo.request_time}
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div>
        <input type="hidden" id="pages" value="{$list.pages}">
        <elt name="list.pages" value="1"><div id="page" style="margin-top:5px; text-align:center;display: none;"></div><else/><div id="page" style="margin-top:5px; text-align:center;"></div></elt>
    </div>

    <block name="script">
        <script type="text/javascript" src="__OTHER__/lib/laypage/1.2/laypage.js"></script>
        <script type="text/javascript" src="__OTHER__/lib/My97DatePicker/WdatePicker.js"></script>
        <script type="text/javascript">
            /*管理员-增加*/
            function add(title, url, w, h) {
                layer_show(title, url, w, h);
            }
            function user_edit(title, url, id, w, h){
                layer_show(title, url, w, h);
            }
            // 分页
            laypage({
                cont: $('#page'), //容器。值支持id名、原生dom对象，jquery对象,
                pages: $('#pages').val(), //总页数
                skip: true, //是否开启跳页
                groups: 3, //连续显示分页数
                curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
                    var page = location.search.match(/page=(\d+)/);
                    return page ? page[1] : 1;
                }(),
                jump: function(e, first){ //触发分页后的回调
                    if(!first){ //一定要加此判断，否则初始时会无限刷新
                        var url = window.location.href;
                        var query = 'page='+e.curr;
                        if(url.indexOf('?')>0 ){
                            if(window.location.search.match(/page=(\d+)/)){
                                url = url.replace(/page=(\d+)/,query);
                            }else{
                                url += '&' + query;
                            }
                        }else{
                            url += '?' + query;
                        }
                        window.location.href = url;
                    }
                }
            });
            //搜索功能
            $("button[name='search']").click(function(){
                var url = $(this).attr('url');
                var query  = $('body').find('.search').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
                query = query.replace(/^&/g,'');
                if( url.indexOf('?')>0 ) url += '&' + query;
                else url += '?' + query;
                window.location.href = url;
            });

            $("button[name='export']").click(function(){
                var url = $(this).attr('url');
                window.location.href = url;
            });
            //回车搜索
            $("#search").keyup(function(e){
                if(e.keyCode === 13){
                    $("button[name='search']").click();
                    return false;
                }
            });

            //时间选择
            function selecttime(flag) {
                switch (flag) {
                    case 1:
                        var end_date = $("#end_time").val();
                        if (end_date != "") {
                            var now_date = new Date();
                            var y = now_date.getFullYear();
                            var m = now_date.getMonth() + 2;
                            var d = now_date.getDate();
                            var now_time = new Date(y + '/' + m + '/' + d);
                            if (new Date(end_date.replace("-", "/").replace("-", "/")) <= now_time) {
                                WdatePicker({dateFmt: 'yyyy-MM-dd', minDate: '', maxDate: end_date});
                            } else {
                                WdatePicker({dateFmt: 'yyyy-MM-dd', minDate: '', maxDate: '%y-%M-%d'});
                            }
                        } else {
                            WdatePicker({dateFmt: 'yyyy-MM-dd', minDate: '', maxDate: '%y-%M-%d'});
                        }
                        break;
                    case 2:
                        var startTime = $("#start_time").val();
                        if (startTime != "") {
                            WdatePicker({dateFmt: 'yyyy-MM-dd', minDate: startTime, maxDate: '%y-{%M}-%d'});
                        } else {
                            WdatePicker({dateFmt: 'yyyy-MM-dd', minDate: '', maxDate: '%y-%M-%d'});
                        }
                        break;
                }
            }
            //时间按钮
            //当天
            $("#now_time").click(function(){
                var now_date = new Date();
                var y = now_date.getFullYear();
                var m = now_date.getMonth() + 1;
                var d = now_date.getDate();
                var end_time = new Date(y + '-' + m + '-' + d);
                var my_time = end_time.toLocaleDateString();
                var my_times =my_time.replace(/\//g,'-');
                $('#end_time').val(my_times);
                $('#start_time').val(my_times);
            });

            //七天
            $("#seven_time").click(function(){
                var now_date = new Date();
                var y = now_date.getFullYear();
                var m = now_date.getMonth() + 1;
                var d = now_date.getDate();
                var end_time = new Date(y + '/' + m + '/' + d);
                var my_time = end_time.toLocaleDateString();
                var my_times =my_time.replace(/\//g,'-');
                $('#end_time').val(my_times);
                if(d<=6){
                    if(m == 4|| m ==6||m ==9 ||m ==10){
                        m = m-1;
                        d = (d+30) -7;
                        var start_time =new Date(y + '/' + m + '/' + d);
                        var time = start_time.toLocaleDateString();
                        var times =time.replace(/\//g,'-');
                        $('#start_time').val(times);
                    }else if(m == 2){
                        m = m-1;
                        d = (d+28) -7;
                        var start_time =new Date(y + '/' + m + '/' + d);
                        var time = start_time.toLocaleDateString();
                        var times =time.replace(/\//g,'-');
                        $('#start_time').val(times);
                    }else{
                        m = m-1;
                        d = (d+31) -7;
                        var start_time =new Date(y + '/' + m + '/' + d);
                        var time = start_time.toLocaleDateString();
                        var times =time.replace(/\//g,'-');
                        $('#start_time').val(times);
                    }
                }else{
                    d = d-7;
                    var start_time =new Date(y + '/' + m + '/' + d);
                    var time = start_time.toLocaleDateString();
                    var times =time.replace(/\//g,'-');
                    $('#start_time').val(times);
                }
            });
            //当月
            $("#month_time").click(function(){
                var now_date = new Date();
                var y = now_date.getFullYear();
                var m = now_date.getMonth() + 1;
                var d = now_date.getDate();
                var end_time = new Date(y + '/' + m + '/' + d);
                var my_time = end_time.toLocaleDateString();
                var my_times =my_time.replace(/\//g,'-');
                $('#end_time').val(my_times);
                if(m==5&&d==31||m==7&&d==31||m==10&&d==31||m==11&&d==31){
                    m = m-1;
                    d = d-1;
                    var start_time =new Date(y + '/' + m + '/' + d);
                    var time = start_time.toLocaleDateString();
                    var times =time.replace(/\//g,'-');
                    $('#start_time').val(times);
                }else if(m==3&&d>28){
                    m = m-1;
                    d = 28;
                    var start_time =new Date(y + '/' + m + '/' + d);
                    var time = start_time.toLocaleDateString();
                    var times =time.replace(/\//g,'-');
                    $('#start_time').val(times);
                }else{
                    m = m-1;
                    var start_time =new Date(y + '/' + m + '/' + d);
                    var time = start_time.toLocaleDateString();
                    var times =time.replace(/\//g,'-');
                    $('#start_time').val(times);
                }
            });

            function del(url) {
                var tmp = new Array();
                $("input[name='checked']").each(function () {
                    if ($(this).is(':checked'))
                        tmp.push($(this).val());
                })
                if (tmp.length <= 0) {
                    alert('你还没有选择任何内容！');
                    return false;
                }
                layer.confirm('确认要删除吗？', function (index) {
                    //此处请求后台程序，下方是成功后的前台处理……
                    //ajaxPost提交
                    $.post(url, {'id': tmp}, function (data) {
                        parent.layer.alert(data.info, {
                            time: 3000, //不自动关闭
                            icon: data.status == '1' ? 1 : 0,
                            btn: ['确定', ],
                            end: function () {
                                window.location.reload();//刷新父窗体
                            },
                        });
                    });
                    $(obj).parents("tr").remove();
                    layer.msg('已删除!', {icon: 1, time: 1000});
                });
            }
        </script>
    </block>
</block>