<extend name='Public/base'/>
<block name='body'>
    <div class="pd-20">
        <form action="{:U('update_money',array('number'=>$number))}" method="post" enctype="multipart/form-data" class="form form-horizontal" id="form-add">
            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>初始价格：</label>
                <div class="formControls col-5">
                    <!--<input type="file" id="file" name="file">
                    <input type="hidden" id="flag" name="flag" value="ajax文件上传"/>-->
                    <span class="btn-upload form-group">{$model.pay_money}(元)</span>
                    <input type="hidden" id="hidden" name ='pay_money'  value="{$model.pay_money}">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>输入价格：</label>
                <div class="formControls col-5">
                    <span class="btn-upload form-group">
                        <input class="input-text upload-url radius" type="text" id="flag" name="moneys">
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>再次输入价格：</label>
                <div class="formControls col-5">
                    <!--<input type="file" id="file" name="file">
                    <input type="hidden" id="flag" name="flag" value="ajax文件上传"/>-->
                    <span class="btn-upload form-group">
                        <input class="input-text upload-url radius" type="text" id="flags" name="money">
                    </span>
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><span class="c-red">*</span>关闭原因：</label>
                <div class="formControls col-3 selects"  style="width: 300px">
                    <select class="input-text radius" size='1' name="msg" id="msg">
                        <option value="">--请选择--</option>
                        <volist name="check.msg" id="vo">
                            <option  value="{$key}">{$vo}</option>
                        </volist>
                        <option value="-1">其它</option>
                    </select>
                </div>
                <div class="col-4"> </div>
            </div>
            <div class="row cl">
                <div class="col-9 col-offset-3">
                    <input type="hidden" name="number" value="{$number}">
                    <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                </div>
            </div>
        </form>
    </div>
    <block name='script'>
        <script type="text/javascript" src="__OTHER__/lib/laypage/1.2/laypage.js"></script>
        <script type="text/javascript" src="__OTHER__/lib/My97DatePicker/WdatePicker.js"></script>
        <script type="text/javascript">
            //验证
            $("#form-add").Validform({
                tiptype: 2,
                ajaxPost: true, //ajax提交
                postonce: true, //提交一次
                callback: function (data) {
                    if (data.status == 1) {
                        parent.layer.alert(data.info, {
                            time: 0, //不自动关闭
                            icon: 1,
                            btn: ['确定',],
                            yes: function (index) {
                                parent.layer.close(index);
                                window.parent.location.reload();//刷新父窗体
                                parent.layer.close(parent.layer.getFrameIndex(window.name));//关闭当前窗体
                            },
                        });
                    }else if(data.status == 0){
                        parent.layer.alert(data.info, {
                            time: 0, //不自动关闭
                            icon: 2,
                            btn: ['确定'],
                            yes: function (index) {
                                parent.layer.close(index);
                            },
                        });
                    }
                }
            });
            $('#msg').change(function () {
                if($(this).val() == -1){
                    $(this).remove();
                    $('.selects').append('<input class="input-text radius" type="text" name="other" value="">');
                }
            })
        </script>
    </block>
</block>