<extend name="Public/base"/>

<block name="body">

    <div class="cl pd-20" style=" background-color:#5bacb6">
        <img class="avatar show_image size-XL l"  src="{$detail.head_image}">
       <!-- <img class="avatar show_image size-XL l"  src="http://layer.layui.com/images/tong.jpg">-->
        <dl style="margin-left:80px; color:#fff">
            <dt><span class="f-18">{$detail.mobile}</span></dt>
        </dl>
    </div>
    <div class="pd-20">
        <table class="table">
            <tbody>
            <tr>
                <th class="text-r" width="120">真实姓名：</th>
                <td>{$detail.realname}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">平台内交易总金额：</th>
                <td>{$detail.history_total_amount}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">当前账户余额：</th>
                <td>{$detail.now_total_amount}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">历史进账总金额：</th>
                <td>{$detail.in_amount}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">历史出账总金额：</th>
                <td>{$detail.out_amount}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">实际订单金额：</th>
                <td>{$detail.order_money}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">订单：</th>
                <td>{$detail.order_number}</td>
            </tr>
            <tr>
                <th class="text-r" width="240">出发地：</th>
                <td>{$detail.start_addr}</td>
            </tr>
            <tr>
                <th class="text-r" width="240">目的地：</th>
                <td>{$detail.end_addr}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">服务类型：</th>
                <td><if condition="$detail.server_type eq '0'">即时服务
                    <elseif condition="$detail.server_type eq '1'"/>预约服务
                    <else />
                </if></td>
            </tr>
            <tr>
                <th class="text-r" width="120">服务单价：</th>
                <td>{$detail.server_price}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">下单时间：</th>
                <td>{$detail.order_time}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">接单时间：</th>
                <td>{$detail.guide_confirm_order_time}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">优惠金额：</th>
                <td>{$detail.rebate_money}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">小费：</th>
                <td>{$detail.tip_money}</td>
            </tr>
            <tr>
                <th class="text-r" width="120">支付金额：</th>
                <td>{$detail.pay_money}</td>
            </tr>
            <!--<tr>
                <th class="text-r" width="80">服务类型：</th>
                <td>
                    <if condition="$detail.sex eq '1'">导游
                        <elseif condition="$detail.sex eq '0'"/>男
                        <else />未设置
                    </if>
                </td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        //页面层-佟丽娅
        $('.show_image').click(function(){
            var content = '<div><img src='+$(this).attr('src')+' /></div>'
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: '1000px,1000px',
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: content,
            });
        });
    </script>
</block>